$itemHeight:210px;
$break-small: 425px;
$break-large: 1200px;

.search-component {
    padding:auto 15px;
    margin-top: 10%;
    height: auto;
    background-color: #fff; 

    .search-title{
        padding: 11px 26px 30px 26px;
        hr{
            border-bottom: 1px solid #ccc;
            margin-top: 2%;
        }
        
    }

    @media screen and (max-width:760px) {
        margin-top: 23%;
        .search-title{
            h2{
                font-size: 17px; 
            }
        }
    }
}
.search-list{
    width:100%;
    height: auto;  
    display: flex;
    justify-content: space-around;
	flex-wrap: wrap;
    flex-direction: row;
    
    div{       
            height:auto;
            float:left;
            width: 25%;  
            padding: 0 1%;                  
            transition: all 0.5s;
            cursor: pointer;
            &:hover{
                filter: brightness(1.1);
            }
            a{
                text-decoration: none;
            }
            h3{
                align-items:center;
                margin-top:5px;
               
            }
            ul{
                list-style: none;
                color: #808090;
                font-size: 15px;
                text-transform: uppercase;
                /* vertical-align: middle; */
                margin: 16% auto;
                text-align: left;
            }
           

           img{
                height: $itemHeight;
                float:left;                
                margin-right: 10px;
            }

           
            
        }

        @media screen and (max-width:767px) {
            
            justify-content: center;
            height: auto;
            div{
                width: 100%;
                flex-grow: 1;
                text-align: center;
                border-bottom: 1px solid #ccc;
                
                ul{
                    margin: 5% auto;
                    text-align: center;
                }

                img{
                    float: none;
                    margin-top:2%
                }
            }           
            
        }

        @media screen and (min-width:768px) and (max-width:1023px) {
           
            justify-content: center;
            height: auto;
            div{
                width: 45%;
                flex-grow: 1;
                text-align: center;
                border-bottom: 1px solid #ccc;
                margin-right:2%;
                ul{
                    margin: 5% auto;
                    text-align: center;
                }

                img{
                    float: none;
                    margin-top:2%
                }
            }           
            
        }

   
}